#page-footer, #about-footer {
    display: grid;
    place-items: center;
    row-gap: 10px;
    height: 100px;
    background-color: lightsalmon;
    padding-top: 20px;
}
#page-footer>div {
display: grid;
grid-auto-flow: column;
place-items: center;
column-gap: 5px;
}
#page-footer p {
    color: rgb(161, 65, 0);
    margin: 0;
    font-size: 1em;
    padding-bottom: 20px;
}
#about-footer>div {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    column-gap: 5px;
    }
    #about-footer p {
        color: rgb(161, 65, 0);
        margin: 0;
        font-size: 1em;
        padding-bottom: 20px;
    }