* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  display: -ms-grid;
  display: grid;
  background: whitesmoke;
}

img, iframe {
  max-width: 100%;
}

main {
  text-align: center;
}

h3 {
  color: #554e4e;
}

h1 {
  color: #a14100;
}

h2 {
  color: #a14100;
}

#mobile-header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  background-color: lightsalmon;
  height: 120px;
}

#mobile-header > img {
  -ms-grid-column-align: start;
      justify-self: start;
  width: 120px;
}

#mobile-header > a {
  margin: 3px;
}

.nav-menu {
  display: none;
  -ms-grid-column-align: end;
      justify-self: end;
  grid-auto-flow: column;
  padding-right: 10px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.nav-link {
  font-size: 19px;
  color: white;
}

.nav-link:hover {
  color: #a14100;
}

.drop-link {
  color: #a14100;
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hamburger {
  display: block;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 10px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}

.menu-drop {
  display: none;
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: cornsilk;
  top: 120px;
  z-index: 99;
}

.hamburger:hover .nav-menu {
  display: none;
}

.hamburger:hover .menu-drop {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 10px;
}

.nav-item > a:hover {
  color: salmon;
}

@media only screen and (min-width: 300px) {
  .bar {
    display: -ms-grid;
    display: grid;
  }
}

@media only screen and (min-width: 668px) {
  .bar {
    display: none;
  }
  .nav-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: end;
        justify-self: end;
    grid-auto-flow: column;
    padding-right: 10px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2rem;
  }
}

#page-footer, #about-footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 10px;
  height: 100px;
  background-color: lightsalmon;
  padding-top: 20px;
}

#page-footer > div {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

#page-footer p {
  color: #a14100;
  margin: 0;
  font-size: 1em;
  padding-bottom: 20px;
}

#about-footer > div {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

#about-footer p {
  color: #a14100;
  margin: 0;
  font-size: 1em;
  padding-bottom: 20px;
}

main > img {
  width: 200px;
  height: 200px;
}

#callBtn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 60px;
  background-color: cornsilk;
}

#callBtn a {
  text-decoration: none;
  color: #a14100;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

#desktop-callBtn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 60px;
  background-color: cornsilk;
}

#desktop-callBtn a {
  text-decoration: none;
  color: #a14100;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
}

section h2,
hr,
h5 {
  text-align: center;
  color: #a14100;
  margin: 15px;
}

h1 {
  text-align: center;
  color: #a14100;
  margin: 10px;
}

p {
  margin: 20px;
  font-size: 0.8em;
}

.tablet-layout-1 {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

#gallery_container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

section > nav {
  display: -ms-grid;
  display: grid;
  width: 200px;
  grid-auto-flow: column;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -30px;
}

.pizza_box {
  display: none;
  place-items: center;
  width: 300px;
  height: 300px;
}

.pizza_box:target {
  display: -ms-grid;
  display: grid;
}

.pizza_box:target ~ .first_box {
  display: none;
}

.pizza_box:target img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.first_box {
  display: -ms-grid;
  display: grid;
}

#lightbox-images {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#gallery-grid {
  width: 100%;
  height: 300px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (100px)[5];
      grid-template-rows: repeat(5, 100px);
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
      grid-template-areas: "one two two" "one two two" "one three three" "four four five" "four four five";
}

#gallery-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery-grid img:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: one;
}

#gallery-grid img:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: two;
}

#gallery-grid img:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: three;
}

#gallery-grid img:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: four;
}

#gallery-grid img:nth-child(5) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: five;
}

#about-footer {
  position: relative;
  bottom: -250px;
}

@media only screen and (min-width: 300px) {
  .tablet-layout-1 {
    display: none;
  }
  #gallery-grid {
    display: none;
  }
  #desktop-callBtn {
    display: none;
  }
  #gallery-grid {
    display: none;
  }
  #about-footer {
    display: none;
  }
}

@media only screen and (min-width: 668px) {
  .mobile-layout-1 {
    display: none;
  }
  .tablet-layout-1 {
    display: -ms-grid;
    display: grid;
  }
  #callBtn {
    display: none;
  }
  #desktop-callBtn {
    display: -ms-grid;
    display: grid;
  }
  #gallery_container {
    display: none;
  }
  #gallery-grid {
    display: -ms-grid;
    display: grid;
  }
  #page-footer {
    display: none;
  }
  #about-footer {
    display: -ms-grid;
    display: grid;
  }
}

@media only screen and (min-width: 1024px) {
  #callBtn {
    display: none;
  }
  #gallery_container {
    display: none;
  }
  #gallery-grid {
    display: -ms-grid;
    display: grid;
  }
  #page-footer {
    display: none;
  }
  #about-footer {
    display: -ms-grid;
    display: grid;
  }
}
/*# sourceMappingURL=about.css.map */