@import 'global';
@import 'header';
@import 'footer';



main>img {
    width: 200px;
    height: 200px;
}

#callBtn {
    display: grid;
    place-items: center;
    width: 100%;
    height: 60px;
    background-color: cornsilk;

}

#callBtn a {
    text-decoration: none;
    color: rgb(161, 65, 0);
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

#desktop-callBtn {
    display: grid;
    place-items: center;
    width: 100%;
    height: 60px;
    background-color: cornsilk;

}

#desktop-callBtn a {
    text-decoration: none;
    color: rgb(161, 65, 0);
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
}

section h2,
hr,
h5 {
    text-align: center;
    color: rgb(161, 65, 0);
    margin: 15px;
}

h1 {
    text-align: center;
    color: rgb(161, 65, 0);
    margin: 10px;
}

p {
    margin: 20px;
    font-size: 0.8em;
}

.tablet-layout-1 {
    display: grid;
    place-items: center;
    grid-template-columns: 3fr 2fr;
}

#gallery_container {
    display: grid;
    place-items: center;
    width: 100%;

}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;

}

section>nav {
    display: grid;
    width: 200px;
    grid-auto-flow: column;
    place-items: center;
    align-items: center;
    position: relative;
    top: -30px;
}

.pizza_box {
    display: none;
    place-items: center;
    width: 300px;
    height: 300px;
}

.pizza_box:target {
    display: grid;

    ~.first_box {
        display: none;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.first_box {
    display: grid;
}

#lightbox-images {
    display: grid;
    place-items: center;
}

#gallery-grid {
    width: 100%;
    height: 300px;


    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 100px);
    row-gap: 10px;
    column-gap: 10px;


    grid-template-areas:
        "one two two"
        "one two two"
        "one three three"
        "four four five"
        "four four five";

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:nth-child(1) {
    grid-area: one;
}

img:nth-child(2) {
    grid-area: two;
}

img:nth-child(3) {
    grid-area: three;
}

img:nth-child(4) {
    grid-area: four;
}

img:nth-child(5) {
    grid-area: five;
}
}
#about-footer {
    position: relative;
    bottom: -250px;
    
}
@media only screen and (min-width: 300px) {
    .tablet-layout-1 {
        display: none;
    }
    #gallery-grid {
        display: none;
    }

    #desktop-callBtn {
        display: none;
    }

    #gallery-grid {
        display: none;
    }
    #about-footer {
        display: none;
    }
}

@media only screen and (min-width: 668px) {
    .mobile-layout-1 {
        display: none;
    }

    .tablet-layout-1 {
        display: grid;
    }

    #callBtn {
        display: none;
    }

    #desktop-callBtn {
        display: grid;
    }
    #gallery_container {
        display: none;
    }
    #gallery-grid {
        display: grid;
    }
    #page-footer {
        display: none;
    }
    #about-footer {
        display: grid;
    }
}

@media only screen and (min-width: 1024px) {
    #callBtn {
        display: none;
    }
    #gallery_container {
        display: none;
    }
    #gallery-grid {
        display: grid;
    }
    #page-footer {
        display: none;
    }
    #about-footer {
        display: grid;
    }
}
