@import 'global';
@import 'header';
@import 'footer';


h1 {
    text-align: center;
    color: rgb(161, 65, 0);
    margin: 10px;
}
#desktop-callBtn {
    display: grid;
    place-items: center;
    width: 100%;
    height: 60px;
    background-color: cornsilk;

}

#desktop-callBtn a {
    text-decoration: none;
    color: rgb(161, 65, 0);
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}
#callBtn {
    display: grid;
    place-items: center;
    width: 100%;
    height: 60px;
    background-color: cornsilk;

}

#callBtn a {
    text-decoration: none;
    color: rgb(161, 65, 0);
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: rgb(161, 65, 0);
}
.mapouter_mobile {
    position: relative;
    text-align: center;
    height: 361px;
    width: 303px;
    margin-bottom: 10px;
}
.gmap_canvas_mobile {
    overflow: hidden;
    background: none !important;
    height: 361px;
    width: 303px;
}
.mapouter_bigger {
    position: relative;
    text-align: right;
    height: 361px;
    width: 600px;
    margin-bottom: 10px;
}
.gmap_canvas_bigger {
    overflow: hidden;
    background: none !important;
    height: 361px;
    width: 600px;
}
#contact-page {
    display: grid;
    place-items: center;

}
.contact-section {
    display: grid;
    place-items: center;
    row-gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
hr {
    width: 80%;
}
#hours {
    display: grid;
    place-items: center;
    row-gap: 20px;
    margin-top: 15px;
}

@media only screen and (min-width: 300px) {
    .mapouter_bigger {
        display: none;
    }
    .gmap_canvas_bigger {
        display: none;
    }
    #desktop-callBtn {
        display: none;
    }
}
@media only screen and (min-width: 668px) {
    .mapouter_mobile {
        display: none;
    }
    .gmap_canvas_mobile {
        display: none;
    }
    .mapouter_bigger {
        display: grid;
    }
    .gmap_canvas_bigger {
        display: grid;
    }
    #callBtn {
        display: none;
    }

    #desktop-callBtn {
        display: grid;
    }
}
@media only screen and (min-width: 1024px) {
    #callBtn {
        display: none;
    }
}