* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  display: -ms-grid;
  display: grid;
  background: whitesmoke;
}

img, iframe {
  max-width: 100%;
}

main {
  text-align: center;
}

h3 {
  color: #554e4e;
}

h1 {
  color: #a14100;
}

h2 {
  color: #a14100;
}

#mobile-header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  background-color: lightsalmon;
  height: 120px;
}

#mobile-header > img {
  -ms-grid-column-align: start;
      justify-self: start;
  width: 120px;
}

#mobile-header > a {
  margin: 3px;
}

.nav-menu {
  display: none;
  -ms-grid-column-align: end;
      justify-self: end;
  grid-auto-flow: column;
  padding-right: 10px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.nav-link {
  font-size: 19px;
  color: white;
}

.nav-link:hover {
  color: #a14100;
}

.drop-link {
  color: #a14100;
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hamburger {
  display: block;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 10px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}

.menu-drop {
  display: none;
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: cornsilk;
  top: 120px;
  z-index: 99;
}

.hamburger:hover .nav-menu {
  display: none;
}

.hamburger:hover .menu-drop {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 10px;
}

.nav-item > a:hover {
  color: salmon;
}

@media only screen and (min-width: 300px) {
  .bar {
    display: -ms-grid;
    display: grid;
  }
}

@media only screen and (min-width: 668px) {
  .bar {
    display: none;
  }
  .nav-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: end;
        justify-self: end;
    grid-auto-flow: column;
    padding-right: 10px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2rem;
  }
}

#page-footer, #about-footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 10px;
  height: 100px;
  background-color: lightsalmon;
  padding-top: 20px;
}

#page-footer > div {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

#page-footer p {
  color: #a14100;
  margin: 0;
  font-size: 1em;
  padding-bottom: 20px;
}

#about-footer > div {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

#about-footer p {
  color: #a14100;
  margin: 0;
  font-size: 1em;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  color: #a14100;
  margin-top: 20px;
}

hr {
  text-align: center;
  color: #a14100;
  margin: 15px;
}

#desktop-callBtn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 60px;
  background-color: cornsilk;
}

#desktop-callBtn a {
  text-decoration: none;
  color: #a14100;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.menubtns {
  display: none;
}

#navMenu-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
}

label {
  font-size: 19px;
  color: #a14100;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

#pizza-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 70px;
          column-gap: 70px;
  row-gap: 70px;
  place-items: center;
  padding: 30px;
}

#drinks-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 70px;
          column-gap: 70px;
  row-gap: 70px;
  place-items: center;
  padding: 30px;
}

.menu-item {
  max-width: 300px;
  border-radius: 15px;
}

.menu-section {
  margin-top: 20px;
}

.menu-item > img {
  border-radius: 50%;
}

.menu-item:hover {
  background-color: whitesmoke;
  -webkit-box-shadow: 2px 2px 2px 2px gray;
          box-shadow: 2px 2px 2px 2px gray;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.description {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #a14100;
}

div > h3 {
  color: #a14100;
}

.dot {
  color: #554e4e;
}

.sizes_container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  margin: 5px 0px;
  position: relative;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 40%;
  border: double black;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

h3:hover {
  cursor: pointer;
}

.size_small:hover ~ .price_small {
  color: #a14100;
  background-color: whitesmoke;
}

.size_medium:hover ~ .price_medium {
  color: #a14100;
  background-color: whitesmoke;
}

.size_large:hover ~ .price_large {
  color: #a14100;
  background-color: whitesmoke;
}

#section-one:checked ~ #pizza-menu {
  display: -ms-grid;
  display: grid;
}

#section-one:checked ~ #drinks-menu {
  display: none;
}

#pizza-menu, #drinks-menu {
  display: none;
}

#section-two:checked ~ #drinks-menu {
  display: -ms-grid;
  display: grid;
}

#section-two:checked ~ #pizza-menu {
  display: none;
}
/*# sourceMappingURL=menu.css.map */