@import 'global';
@import 'header';
@import 'footer';

h1 {
  text-align: center;
  color: rgb(161, 65, 0);
  margin-top: 20px;

}

hr {
  text-align: center;
  color: rgb(161, 65, 0);
  margin: 15px;
}
#callBtn {
  display: grid;
  place-items: center;
  width: 100%;
  height: 60px;
  background-color: cornsilk;

}

#callBtn a {
  text-decoration: none;
  color: rgb(161, 65, 0);
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}
#desktop-callBtn {
  display: grid;
  place-items: center;
  width: 100%;
  height: 60px;
  background-color: cornsilk;

}

#desktop-callBtn a {
  text-decoration: none;
  color: rgb(161, 65, 0);
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.menubtns {
  display: none;
}
#navMenu-section {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
}
label {
  font-size: 19px;
  color: #a14100;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;

}

#pizza-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 70px;
  row-gap: 70px;
  place-items: center;
  padding: 30px;
}

#drinks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 70px;
  row-gap: 70px;
  place-items: center;
  padding: 30px;
}
.menu-item {
  max-width: 300px;
  border-radius: 15px;
}

.menu-section {
  margin-top: 20px;
}
.menu-item>img {
  border-radius: 50%;
}

.menu-item:hover {
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px 2px gray;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.title {
  text-align: center;
  margin-bottom: 10px;

}

.description {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #a14100;
}

div>h3 {
  color: #a14100;
}
.dot {
  color: #554e4e;
}
.sizes_container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  margin: 5px 0px;
  position: relative;

}
.dot {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 40%;
  border: double black;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

h3:hover {
  cursor: pointer;
}

.size_small:hover {

  ~.price_small {
    color: #a14100;
    background-color: whitesmoke;
  }
}

.size_medium:hover {

  ~.price_medium {
    color: #a14100;
    background-color: whitesmoke;
  }
}

.size_large:hover {

  ~.price_large {
    color: #a14100;
    background-color: whitesmoke;
  }
}

#section-one:checked {
  ~#pizza-menu {
    display: grid;
  }
  ~#drinks-menu {
    display: none;
  }
}
#pizza-menu, #drinks-menu {
  display: none;
}
#section-two:checked {
  ~#drinks-menu {
    display: grid;
  }
  ~#pizza-menu {
    display: none;
  }
}
@media only screen and (min-width: 300px) {
  #desktop-callBtn {
    display: none;
}
}
@media only screen and (min-width: 668px) {
  #callBtn {
    display: none;
}

#desktop-callBtn {
    display: grid;
}
}
@media only screen and (min-width: 1024px) {
  #callBtn {
      display: none;
  }
}