* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  display: -ms-grid;
  display: grid;
  background: whitesmoke;
}

img, iframe {
  max-width: 100%;
}

main {
  text-align: center;
}

h3 {
  color: #554e4e;
}

h1, h2 {
  color: #a14100;
}

#mobile-header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  background-color: lightsalmon;
  height: 120px;
}

#mobile-header img {
  -ms-grid-column-align: start;
      justify-self: start;
  width: 120px;
}

#mobile-header > a {
  margin: 3px;
}

.nav-menu {
  display: none;
  -ms-grid-column-align: end;
      justify-self: end;
  grid-auto-flow: column;
  padding-right: 10px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.nav-link {
  font-size: 19px;
  color: white;
}

.nav-link:hover {
  color: #a14100;
}

.drop-link {
  color: #a14100;
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hamburger {
  display: block;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 10px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}

.menu-drop {
  display: none;
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: cornsilk;
  top: 120px;
  z-index: 99;
}

.hamburger:hover .nav-menu {
  display: none;
}

.hamburger:hover .menu-drop {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 10px;
}

.nav-item > a:hover {
  color: salmon;
}

@media only screen and (min-width: 300px) {
  .bar {
    display: -ms-grid;
    display: grid;
  }
}

@media only screen and (min-width: 668px) {
  .bar {
    display: none;
  }
  .nav-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: end;
        justify-self: end;
    grid-auto-flow: column;
    padding-right: 10px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2rem;
  }
}

#page-footer, #about-footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 10px;
  height: 100px;
  background-color: lightsalmon;
  padding-top: 20px;
}

#page-footer > div {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

#page-footer p {
  color: #a14100;
  margin: 0;
  font-size: 1em;
  padding-bottom: 20px;
}

#about-footer > div {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

#about-footer p {
  color: #a14100;
  margin: 0;
  font-size: 1em;
  padding-bottom: 20px;
}

@-webkit-keyframes fadeInOutStart {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOutStart {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInOutMid {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOutMid {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInOutEnd {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOutEnd {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#animation {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 250px;
  max-width: 1024px;
}

#animation > img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0;
}

#animation-desktop {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 400px;
  max-width: 1024px;
}

#animation-desktop > img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.center-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#animation > img:nth-child(1) {
  opacity: 1;
  -webkit-animation: fadeInOutStart 10s ease-in-out infinite alternate;
          animation: fadeInOutStart 10s ease-in-out infinite alternate;
}

#animation > img:nth-child(2) {
  -webkit-animation: fadeInOutMid 10s ease-in-out infinite alternate;
          animation: fadeInOutMid 10s ease-in-out infinite alternate;
}

#animation > img:nth-child(3) {
  -webkit-animation: fadeInOutEnd 10s ease-in-out infinite alternate;
          animation: fadeInOutEnd 10s ease-in-out infinite alternate;
}

#animation-desktop > img:nth-child(1) {
  opacity: 1;
  -webkit-animation: fadeInOutStart 10s ease-in-out infinite alternate;
          animation: fadeInOutStart 10s ease-in-out infinite alternate;
}

#animation-desktop > img:nth-child(2) {
  -webkit-animation: fadeInOutMid 10s ease-in-out infinite alternate;
          animation: fadeInOutMid 10s ease-in-out infinite alternate;
}

#animation-desktop > img:nth-child(3) {
  -webkit-animation: fadeInOutEnd 10s ease-in-out infinite alternate;
          animation: fadeInOutEnd 10s ease-in-out infinite alternate;
}

section > div {
  z-index: 10;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.button {
  width: 130px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  background-color: rgba(255, 127, 80, 0.733);
  place-content: center;
  border: solid 2px cornsilk;
}

.wrapper {
  max-width: 400px;
  background: cornsilk;
  height: 40px;
  text-align: center;
}

.infoAd {
  width: 100%;
  background: cornsilk;
  height: 40px;
  text-align: center;
}

.marquee {
  background: cornsilk;
  white-space: nowrap;
  text-align: center;
  -webkit-animation: rightThenLeft 10s linear;
          animation: rightThenLeft 10s linear;
}

article > h3 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #554e4e;
}

#hours {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-auto-flow: row;
  row-gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

article > div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.tablet-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 2fr;
}

#heroButtons {
  margin-bottom: 10px;
}

#callBnt {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  width: 100%;
  bottom: 5%;
}

#desktop-callBtn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  width: 100%;
  bottom: 5%;
}

#callBnt a {
  text-decoration: none;
  color: #a14100;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  background: white;
  padding: 15px;
  border-radius: 15px;
  border: solid 2px cornsilk;
}

#desktop-callBtn a {
  text-decoration: none;
  color: #a14100;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  background: white;
  padding: 15px;
  border-radius: 15px;
  border: solid 2px cornsilk;
}

main > img {
  width: 200px;
  height: 200px;
}

h1 {
  text-align: center;
  color: #a14100;
  margin: 10px;
}

p {
  margin: 10px;
  font-size: 1em;
}

.home-main-desktop {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

#heroBtmImg {
  width: 120px;
  height: 120px;
}

@media only screen and (min-width: 300px) {
  .infoAd {
    display: none;
  }
  #desktop-callBtn {
    display: none;
  }
  #animation-desktop {
    display: none;
  }
  .home-main-desktop {
    display: none;
  }
}

@media only screen and (min-width: 668px) {
  .wrapper {
    display: none;
  }
  .infoAd {
    display: -ms-grid;
    display: grid;
  }
  #desktop-callBtn {
    display: -ms-grid;
    display: grid;
  }
  #animation-desktop {
    display: none;
  }
  .home-main-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #animation {
    display: none;
  }
  #animation-desktop {
    display: -ms-grid;
    display: grid;
  }
  .home-main {
    display: none;
  }
  .home-main-desktop {
    display: -ms-grid;
    display: grid;
  }
}
/*# sourceMappingURL=style.css.map */